[Unit]
Description=OhDear Health Check
After=network.target

[Service]
Type=exec
ExecStart=/local/systems/bin/ohdear-system-health
WorkingDirectory=/local/systems/bin
Restart=always

[Install]
WantedBy=multi-user.target
